.container{
    display: flex;
    width: 95%;
    height: 100vh;
    background-color: white;
    justify-content: center;
    gap: 50px;
    margin: 15px auto;
    box-sizing: border-box;
}

.left{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.right{
    width:70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main{
    margin: 0 auto;
    width: 100%;
    display: flex;
    background-color: #f3f3f3;
}
.left_cima{
    aspect-ratio: auto 200 / 200;
}
.left_cima img{
    width:  100%;
    height: 100%;
}
.left_baixo{
    display: flex;
    flex-direction: column;
    gap: 8px ;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    aspect-ratio: auto 50 / 50;
}
.left_baixo img{
    width: 50px;
    height: 50px;
}

span{
    display: flex;
    align-items: center;
    gap: 15px;
}
span img{
    width: 50px;
}
.right h2{
    color: rgb(114, 114, 114);
    font-weight: 100;
}
.buttonWhatsapp{
    color: white;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    background-color:#34af23;
}
.buttonWhatsapp:hover{
    cursor: pointer;
}
.buttonWhatsapp img{
    width: 60px;
}
#nameProduct{
    text-align: center;
    font-weight: 600;
}
#imagem1{
    border: 1px solid goldenrod
}
#poster{
    animation: 1s;
    transition: 1s;
}
@media screen and (max-width: 1000px){
    .right{
        font-size: 11px;
        
    }
    .buttonWhatsapp img{
        width: 35px;
    }
}
@media screen and (max-width: 870px){
    .right{
        justify-content: initial;
        gap: 2.3rem;
    }
}
@media screen and (max-width: 723px){
    .right{
        gap: 1.5rem;
    }
}
@media screen and (max-width: 700px) {
    .container{
        display: block;
    }
    .right,.left{
        width: 100%;

    }
    .titleProduct{
    margin-top: 3px;
}
    .left_baixo{
        aspect-ratio: auto 144 / 20;
}
}